.overlay[data-v-de8bc816] {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  text-align: center;
  font-size: 100px;
  cursor: pointer;
}

.bar-title {
  font-weight: bold;
}

.container[data-v-78fb99d2] {
  position: relative;
}
.spinTitle[data-v-78fb99d2] {
  font-size: 28px;
  font-weight: bold;
  font-family: Helvetica, serif;
  padding-top: 1%;
}
.instructionsText[data-v-78fb99d2] {
  padding-top: 20%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-shadow: 0px 0px 10px #000000;
  background-color: #00000000;
  font-family: sans-serif;
  font-weight: 800;
}
a[data-v-78fb99d2] {
  color: #0059ff;
  transition: 0.5s;
}
a[data-v-78fb99d2]:hover {
  color: #eec00d;
}

.mb-5[data-v-370a9134] {
  margin-bottom: 5px;
}

.color-grid[data-v-5a328193] {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 20px;
}

.animated-background[data-v-ad0ed4dc] {
  text-align: center;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 45;
  animation-name: fade-animation-ad0ed4dc;
  animation-duration: 6s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes fade-animation-ad0ed4dc {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
.content[data-v-ad0ed4dc] {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.animated-text[data-v-ad0ed4dc] {
  color: #ffffff;
  font-size: 200px;
  font-family: Quicksand;
  animation-name: zoom-animation-ad0ed4dc;
  animation-duration: 6s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes zoom-animation-ad0ed4dc {
  0% {
    transform: scale(0.03);
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.counter-text[data-v-810df364] {
  font-size: 0.8em;
  color: #bbb;
}

.splash[data-v-2090b6aa] {
  width: auto;
  height: 260px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title[data-v-2090b6aa] {
  font-size: 28px;
  font-weight: bold;
  font-family: Helvetica, serif;
}
.app-goto[data-v-2090b6aa] {
  padding-top: 20px;
  padding-left: 40px;
  width: 260px;
  display: inline-block;
  vertical-align: middle;
}

.containerA[data-v-15a69f64] {
  min-height: 40px;
  /*background: #fafafa;*/
  border-radius: 10px;
  align-items: center; /*å®žçŽ°æ°´å¹³å±…ä¸­*/
  justify-content: center;
  text-align: justify;
  display: none;
  
}

.recommendWheels[data-v-552a2441] {
  flex: 1;
  background: aliceblue;
  border-radius: 10px;
  padding-top: 50px;
}
.spinItem[data-v-552a2441] {
  font-size: xx-large;
  padding-top: 1px;
  text-align: left;
  font-weight: bold;
  font-family: Helvetica, serif;
}
.wheelTitle[data-v-552a2441] {
  font-size: x-large;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .recommendWheels[data-v-552a2441] {
    padding-top: 30px;
  }
}

.faq[data-v-231ee583] {
  padding: 20px 40px;
  display: none;
}
.line-padding[data-v-231ee583] {
  padding-top: 20px;
}
.spinItem[data-v-231ee583] {
  padding: 10px 0;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: Helvetica, serif;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .faq[data-v-231ee583] {
    padding: 15px;
    display: none;
  }
}

.spinItem[data-v-d0bf3074] {
  padding: 10px 0;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: Helvetica, serif;
  display: none;
}
.wheelTitle[data-v-d0bf3074] {
  font-size: x-large;
  font-weight: bold;
  padding-top: 10px;
}
.mySection[data-v-d0bf3074] {
  padding-left: 40px;
  padding-right: 40px;
  display: none;
}
@media screen and (max-width: 480px) {
  .mySection[data-v-d0bf3074] {
    padding: 0;
  }
}

.can-go-dark[data-v-342a570e] {
}
.wheelContent[data-v-342a570e] {
  flex: 1;
  background: aliceblue;
  padding: 40px;
  border-radius: 10px;
  margin: 50px;
  display: none;
}
.spinLabel[data-v-342a570e] {
  font-size: 26px;
  font-weight: bold;
  font-family: Helvetica, serif;
  color: #0059ff;
  transition: 0.5s;
  text-align: center;
}
.spinLabel[data-v-342a570e]:hover {
  color: #eec00d;
}
@media screen and (max-width: 480px) {
  .wheelContent[data-v-342a570e] {
    padding: 15px;
    margin: 20px 1px;
    display: none;
  }
  p[data-v-342a570e] {
    line-height: 150%;
    display: none;
  }
  div[data-v-342a570e] {
    line-height: 150%;
  }
}

.spinItem[data-v-a29ca39c] {
  padding: 10px 0;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: Helvetica, serif;
}
.wheelTitle[data-v-a29ca39c] {
  font-size: x-large;
  font-weight: bold;
}

.spinItem[data-v-305b7a19] {
  padding: 10px 0;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: Helvetica, serif;
}
.wheelTitle[data-v-305b7a19] {
  font-size: x-large;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map*/
